/* Global CSS */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #28272a;
  --primary-dark-10: #1e1e20;
  --primary-dark-20: #141416;
  --primary-dark-30: #0a0a0c;
  --primary-light-10: #353437;
  --primary-light-20: #424143;
  --primary-light-30: #504f50;

  --secondary-color: #26d93b;
  --secondary-dark-10: #20c233;
  --secondary-dark-20: #1aad2b;
  --secondary-dark-30: #149824;
  --secondary-light-10: #32df47;
  --secondary-light-20: #3ee552;
  --secondary-light-30: #4beba0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 0.5rem;
  font-family: "kanit", sans-serif;
  -webkit-font-smoothing: "kanit", sans-serif;
  -moz-osx-font-smoothing: "kanit", sans-serif;
  font-style: normal;
  background-color: var(--primary-color);
  color: white;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
}

#root {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  height: 100vh;
}

@media (max-width: 1500px) {
  body {
    overflow-y: auto;
  }
  #root {
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow-y: visible;
  }
}
